//@import "~bootstrap/scss/bootstrap";

.table-header {
    width: 100%;
    height: 10vh;
    background-color: #0070B1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-title {
        margin: 0;
        color: white;
        padding-left: 15px;
    }
    div {
        display: none;
    }
    .header-button {
        background-color: #2fa032;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        color: white;
        font-weight: 600;
        margin-right: 15px;
        width: 180px;
        height: 36px;
        border: none;
        border-radius: 6px;
        &:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            background-color: #29942d;
			transition: box-shadow .25s ease-out,background-color .2s ease-out;
        }
    }
}

.table-section {
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
