 
  .Login-header {
    background-color: #d1d5da;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .card {
      border-radius: 10px;
      box-shadow: 0 2px 15px rgba(0,0,0,0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      background-color: #0070B1;
      margin: 0 auto;
    }
      
    .img {
      width: 200px;
      height: 200px;
      margin: 20px;
    }
    
    .left {
      width: 95%;
      padding-left: 60px;
      margin-bottom: 20px;
    }
    
    .right {
      width: 100%;
      background-color: #0070B1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .title {
      font-size: 32px;
      margin-bottom: 2px;
      font-weight: 600;
      line-height: 36px;
    }
    
    .subtitle {
      font-size: 32px; 
      margin-top: 0px;
      font-weight: 300;
      line-height: 40px;
    }
    
    .form {
      display: flex;
      flex-direction: column;
    }
    
    .label {
      color: white;
      font-weight: 600;
    }
    
    .input {
      border-color: #DBDBDB;
      height: 40px;
      max-width: 80%;
      font-size: 1rem;
      margin-bottom: 10px;
    }
    
    .input:hover {
      border-color: #B5B5B5;
    }
    
    .input:focus {
      border-color: #3273DC;
    }
    
    .check {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      .footer {
        color: black;
        font-size: 14px;
      }
    }
    
    .button {
      background-color: #C8C8C8;
      color: black;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 45px;
      margin-top: 15px;
      border-radius: 3px;
      border: solid 1px gray;
      font-size: 14px;
      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: rgb(107, 104, 104);
        color: white;
        transition: box-shadow .25s ease-out,background-color .2s ease-out;
    }
    }
    
    input:invalid:not(:placeholder-shown){
      border: 1px solid red;
    }
    
    input:valid:not(:placeholder-shown){
      border: 1px solid #00d1b2;
    }
  }
  